body{
    margin: 0%;
    padding:0% ;
    color: white;
}
.container{
    position: absolute;
    top: 45%;
    left:40% ;
    padding: 15px;
    background: black;
    border-radius: 5px;
    box-shadow: rgb(37, 99, 164);
}
input{
    outline: none;
    border: none;
    padding: 5px
}
button{
    color: white;
    padding: 10px;
    border: solid white;
    background: black;
    
}